<div class="quote">
	<blockquote>Your quote goes here</blockquote>
	<cite>Attribution</cite>
	</div>
<div class="quote">
	  <blockquote>This is a quote, and I like it.</blockquote>
	    <cite>A quote: The Art of Quoting</cite>
	    </div>
